@CHARSET "ISO-8859-1";

.threecols {
	width: 33%;
}

.twoColumnCenter {
	width: 50%;
	vertical-align: top;
	text-align: center;
}

.twoColumnLeft {
	width: 50%;
	vertical-align: top;
	text-align: left;'
}

.twoColumn {
	width: 50%;
	vertical-align: top;
}

.labelColumn {
	vertical-align: top;
	white-space:nowrap;
	text-align: right;
}

.dataColumn {
	text-align: left;
}

.leftLabelColumn {
	vertical-align: top;
	width: 50px;
}

.alignTopColumn {
	vertical-align: top;
}