@CHARSET "ISO-8859-1";

.threecols {
	width: 33%;
}

.twocols {
	width: 50%;
	vertical-align: top;
	text-align: center;
}

.labelColumn {
	text-align: right;
}

.dataColumn {
	text-align: left;
}

.leftLabelColumn {
	vertical-align: top;
	width: 50px;
}

.alignTopColumn {
	vertical-align: top;
}