@CHARSET "ISO-8859-1";

html, body {
	height: 99%;
	background-color: #CCCCCC;
	font-family: Verdana,Arial,sans-serif;
}

#wrap {
	min-height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
}

#main {
	overflow:auto;
	padding-bottom: 50px;
	background-color: white;	
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -35px; /* negative value of footer height */
	height: 35px;
	clear:both;	
}

#header {
	/* border-bottom: 1px solid black; */
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.threecols {
	width: 33%;
}

.twoColumnCenter {
	width: 50%;
	vertical-align: top;
	text-align: center;
}

.twoColumnLeft {
	width: 50%;
	vertical-align: top;
	text-align: left;'
}

.leftEventColumn {
	vertical-align: top;
	width: 205px;
	padding-right: 5px;
}

.leftFrontPageColumn {
	vertical-align: top;
	width: 305px;
	padding-right: 5px;
}

.leftNewEventColumn {
	vertical-align: top;
	width: 375px;
	padding-right: 5px;
}

.centerEventColumn {
	vertical-align: top;
	width: 1020px;
	padding-right: 5px;
}

.centerLoginColumn {
	vertical-align: top;
	width: 100%;	
}

.oneLeftColumn {
	width: 100%;
	text-align: left;
}

.twoColumn {
	width: 50%;
	vertical-align: top;
}

.labelColumn {
	vertical-align: top;
	white-space:nowrap;
	text-align: right;
}

.dataColumn {
	text-align: left;
}

.leftLabelColumn {
	vertical-align: top;
	width: 50px;
}

.alignTopColumn {
	vertical-align: top;
}

.upcomingDate {
	width: 75px;
	text-align: left;
}

.upcomingTitle {
	width: 105px;
	text-align: left;
}

.upcomingState {
	width: 50px;
	text-align: left;
}

.blueRow {
	background-color: blue;
}

.greenRow { 
	background-color: green;
}

.headerLink {
	/* text-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */ 
	font-size: 18px !important; 
	color: #222222;
	font-weight: bold;
	padding-right: 5px;
}

A:link.headerLink {
	text-decoration: none;
}

A:hover.headerLink {
	text-decoration: underline;
}

A:link.headerLink.selected {
	text-decoration: underline;
}

.loginLink {
	/* text-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */ 
	font-size: 12px !important; 
	color: #222222;
	/* font-weight: bold; */
	padding-right: 5px;
}

A:link.loginLink {
	text-decoration: none;
	color: #222222;
}

A:hover.loginLink {
	color: #000000;
	padding-right: 5px;
	text-decoration: underline;
}



.calendar-icon {
	background-image: url('/resources/images/calendar-icon.png') !important;
	background-size:35px 35px;
}
